.section-four_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-top: 2rem;
}

.section-four_title {
  width: auto;
  margin-left: 2rem;
  opacity: 0;
}

.section-four_job-date {
  opacity: 0;
}

table,
th,
td {
  justify-content: center;
  align-items: center;
}

td {
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: var(--main-font);
  text-align: center;
}

li {
  list-style: none;
  font-family: var(--main-font);
  padding: none;
  list-style-position: inside;
  font-size: 0.8rem;
  opacity: 0;
}

.section-four_job-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.section-four_job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid red;
  height: 20rem;
}

.section-four_columns {
  display: flex;
  gap: 20px;
}
.img-rio {
  height: 5rem;
  width: 7rem;
  opacity: 0;
}

.img-parki {
  scale: 0.7;
  opacity: 0;
}

.img-schwarz {
  opacity: 0;
  height: 0.8rem;
  width: 10rem;
}

.img-passugger {
  scale: 0.7;
  opacity: 0;
}

.section-four_job-subheader {
  font-size: 1rem;
  opacity: 0;
}

.section-four_job-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section-four_ellipse {
  position: absolute;
  z-index: -4;
  margin-top: 10rem;
  margin-left: -4rem;
  height: 30rem;
  width: 30rem;
  opacity: 0;
}

.section-four_arrow {
  scale: 0.5;
  position: absolute;
  margin-left: 36rem;
  margin-top: 35rem;
  opacity: 0;
  transform: rotate(-10deg);
}

.section-four_job-list {
  align-items: center;
  padding: 0;
}

.section-four_job-list-objects {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.section-four_job-subheader {
  text-decoration: solid underline;
}

.section-four_dots {
  position: absolute;

  height: 115px;
  width: 0;
  margin-top: 2rem;
  margin-left: 61rem;
}
