*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: "neue-machina-regular";
  src: url("./fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
  font-family: "neue-machina-ultrabold";
  src: url("./fonts/NeueMachina-Ultrabold.otf") format("opentype");
}

:root {
  --main-font: "neue-machina-regular", sans-serif;
  --title-font: "Oi", cursive;
  --subtitle-font: "neue-machina-ultrabold", sans-serif;
  --title-color-blue: #8cbfd2;
  --title-color-beige: #f4eed5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: 300;
  font-family: var(--title-font);
  text-shadow: -5px 10px 1px black;
  font-size: 4rem;
  -webkit-text-stroke: 1px #000000;

  color: var(--title-color-beige);
}
