.section-three_container {
  height: 100%;
  width: 100%;
  padding-bottom: 3rem;
}

.section-three_text-container {
  width: 50vw;
  height: auto;
  margin-left: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 38rem;
  width: 38rem;
}

.section-three_title {
  color: var(--title-color-blue);
  text-align: center;
  margin-top: -10rem;
  font-size: 0rem;
  position: absolute;
}

.para-container {
  margin-top: 22rem;
  margin-left: 5rem;
}

.section-three_paragraph {
  width: 80%;
  opacity: 0;
}

.para-1 {
  margin-left: 2rem;
  width: 70%;
  margin-top: -2rem;
}

.para-2 {
  margin-left: 1.5rem;
}

.section-three_ellipse {
  position: absolute;
  margin-top: -35rem;
  height: 35rem;
  width: 35rem;
  z-index: -4;
  margin-left: 5rem;
  opacity: 0;
}

.section-three_rohner-magenbrot {
  position: absolute;
  margin-top: -32rem;
  height: 26rem;
  width: 41.6rem;
  z-index: -3;
  margin-left: 6rem;
  opacity: 0;
}

.section-three_yummy {
  position: absolute;
  margin-top: -18rem;
  height: 0;
  width: 0;
  transform-origin: center center;
  margin-left: 16rem;
}

.section-three_arrow {
  position: absolute;
  scale: 0.4;
  margin-left: 40rem;
  transform: rotate(80deg) scaleX(-1);
  opacity: 0;
  margin-top: -7rem;
}

@media (max-width: 1210px) {
  .section-three_container {
    height: 100%;
    width: 100%;
    padding-bottom: 3rem;
  }

  .section-three_text-container {
    width: 50vw;
    height: auto;
    margin-left: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 30rem;
  }

  .section-three_title {
    color: var(--title-color-blue);
    text-align: center;
    margin-top: -3rem;
    font-size: 0rem;
  }

  .section-three_paragraph {
    width: 80%;
    opacity: 0;
  }

  .para-1 {
    margin-left: 2rem;
    width: 70%;
    margin-top: -2rem;
  }

  .para-2 {
    margin-left: 1.5rem;
  }

  .section-three_ellipse {
    position: absolute;
    margin-top: -35rem;
    height: 28rem;
    width: 28rem;
    z-index: -4;
    margin-left: 5rem;
    opacity: 0;
  }

  .section-three_rohner-magenbrot {
    position: absolute;
    margin-top: -32rem;
    height: 20.375rem;
    width: 32.6rem;
    z-index: -3;
    margin-left: -100rem;
  }

  .section-three_yummy {
    position: absolute;
    margin-top: -18rem;
    height: 0;
    width: 0;
    transform-origin: center center;
    margin-left: 16rem;
  }

  .section-three_arrow {
    position: absolute;
    scale: 0.4;
    margin-left: 30rem;
    transform: rotate(80deg) scaleX(-1);
    opacity: 0;
    margin-top: -7rem;
  }
}
