.section-seven-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-seven_ellipse {
  scale: 0.5;
  position: absolute;
  z-index: -4;
  margin-top: 8rem;
  opacity: 0;
  margin-left: 42rem;
}

.iphone {
  scale: 0.65;
  position: absolute;
  opacity: 0;
}

.section-seven_header {
  color: var(--title-color-blue);
  margin-left: 15vw;
  opacity: 0;
  margin-bottom: -2rem;

  width: 39rem;
}

.section-seven_paragraph-section {
  display: flex;
  flex-direction: column;
  width: 46rem;
  margin-left: 25rem;
  font-size: 1.3rem;
  position: absolute;
  margin-top: 12rem;
}

.section-seven_paragraph-section :nth-child(1) {
  opacity: 0;
}
.section-seven_paragraph-section :nth-child(2) {
  margin-left: 2vw;
  opacity: 0;
}

.section-seven_button-section {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin-top: 38vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}

.section-seven_button-section-paragraph {
  font-size: 1.3rem;
  opacity: 0;
}

.section-seven_buttons {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-seven_button {
  height: 3rem;
  width: 15rem;
  border-radius: 30px;
  background-color: rgba(255, 85, 68, 0.8);
  border: 1px solid black;
  color: white;
  font-size: 1.3rem;
  margin-top: 1rem;
  transition: background-color 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
  font-family: var(--main-font);
  opacity: 0;
}

.coverletter-button:hover {
  cursor: pointer;
  background-color: rgba(255, 85, 68, 1);
  box-shadow: -2px 2px 1px black;
}

.section-seven_button:active {
  transform: scale(0.98);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.github-link {
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  opacity: 0;
}

.github-link svg {
  fill: none;
  visibility: none;
}

.path {
  stroke: black;
  stroke-width: 5;
}

.github-link svg:hover {
  cursor: pointer;
  fill: black;
}

.union {
  position: absolute;
  scale: 0.6;
  margin-left: 15rem;
  margin-top: 20rem;
  z-index: 1;
  opacity: 0;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
