.section-two_main-container {
  height: 100vh;
  width: 100vw;
}

.section-two_main-title {
  margin-left: 10rem;
  opacity: 0;
}

.section-two_img-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  top: 0;
  margin-top: -30px;
}

.section-two_info-card {
  height: 39rem;
  width: 39rem;
  margin-left: 8rem;
  margin-top: -3rem;
  opacity: 0;
}

.section-two_portrait {
  position: absolute;
  height: 40rem;
  width: 27rem;
  margin-top: -10rem;
  left: 120vw;
}

.section-two_arrow {
  position: absolute;
  margin-left: 40rem;
  margin-top: -4rem;
  height: 8rem;
  width: 10rem;
  opacity: 0;
}

.section-two_arrow-curvy {
  position: absolute;
  margin-left: 57rem;
  margin-top: 32rem;
  height: 8rem;
  width: 10rem;
  opacity: 0;
}
