.section-six_container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  box-sizing: border-box;
}
.section-six_header {
  margin-left: 40rem;
  position: absolute;
  margin-top: -1vh;
  opacity: 0;
  color: var(--title-color-beige);
}

.section-six_skills-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.section-six_skill {
  scale: 0.55;
  justify-self: center;
  opacity: 0;
}

.section-six_skills-design,
.section-six_skills-programming,
.section-six_skills-varia {
  display: flex;
}

.section-six_scale {
  margin-top: -6.7rem;
  scale: 0.59;
  left: -50%;
  opacity: 0;
}

.section-six_ellipse {
  position: absolute;
  scale: 0.7;
}

.ellipse-orange {
  margin-left: 42rem;
  opacity: 0;
}

.ellipse-red {
  margin-top: 9rem;
  margin-left: -8rem;
  opacity: 0;
}

.section-six_arrow {
  position: absolute;
  scale: 0.6;
  margin-left: 54rem;
  margin-top: 28rem;
  opacity: 0;
}
